DATABASE_URL="file:./dev.db"

JWT_SECRET="change-this-to-a-long-random-string-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

WHATSAPP_NUMBER="77711681900"
TELEGRAM_USERNAME=""
INSTAGRAM_USERNAME=""

ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="ChangeMe123!"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="77711681900"
